<?xml version="1.0"?>

<model>
  <name>30 meters 43 degrees Slope</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>George Stavrinos</name>
    <email>gstavrinos@iit.demokritos.gr</email>
  </author>

  <description>
    A 30 meters 43 degrees Slope!
  </description>
</model>
