<?xml version="1.0"?>

<launch>
  <arg name="rulah_simulation" default="true"/>

  <arg name="world_name" default="$(find husky_gazebo)/worlds/roboskel_playground_43deg_30m.world"/>
  <arg name="3D_enabled" default="true"/>
  <include file="$(find husky_gazebo)/launch/roboskel_playground_world.launch">

    <arg name="world_name" value="$(arg world_name)"/> <!-- world_name is wrt GAZEBO_RESOURCE_PATH environment variable -->

  </include>

  <include file="$(find husky_gazebo)/launch/spawn_husky.launch">
  </include>

</launch>
